html, body {
	height:100%;
	margin: 0;
}

#menu {
	position:fixed;
	width: 96%;
	left:2%;
	right:2%;
	height: 35px;
	top:10px;
	font-size: 16px;
	font-family:Tahoma;
	font-weight: bold;
	text-align: center;
	background-color:#8AD9FF;
}

#header{
	position:relative;
	width: 96%;
	left:2%;
	right:2%;
	display:inline-block;
	top: 40px;
	background-color:blue;
	margin-top:-5px;
	margin-bottom:-5px;
}

h1{
	text-align:center;
	font-family:sans-serif;
	font-size:40px;
}

.blogh{
	margin:auto;
	margin-top:-10px;
	padding:10%;
}

ul{
	height: auto;
	padding: 7px;
	margin: 0px;
	border:2px solid #000000;
}

li{
	display:inline;
	padding:8px;
}

a{
	text-decoration:none;
	color:#000000;
	padding:8px;
}

a:hover{
	background-color:white;
}

img {
	margin:auto;
	margin-top:-200px;
	width: 80%;
	height:auto;
	padding:10%;
}

#above{
	margin:auto;
	width:20%;
	height:auto;
	padding:20%;
}

#meh{
	margin:auto;
	padding:10%;
	margin-top:-30%;
	text-align:center;
}

p {
	clear:both;
	position:relative;
	margin-top:80px;
}

#below{
	margin:auto;
	padding:10%;
	margin-top:-18%;
	text-align:center;
}

.blogp{
	margin:auto;
	margin-top:-200px;
	padding:10%;
}

table{
	margin-top:20%;
}

td{
	height:260px;
	width:75px;
	display:inline-table;
	padding:30px;
	padding-right:2%;
	padding-left:2%;
}

td img {
	height:260px;
	width:auto;
}